# A token to increase the rate limiting from 60/hr to 1000/hr
GITHUB_TOKEN=""

# GitHub repo to pull docs from
SOURCE_REPO="boomerang-io/docs"

# For development, reading the docs from a local repo
LOCAL_REPO_RELATIVE_PATH="../docs"